.builder-container {
    margin-top: 100px;
  }

  .overview-card {
    margin-top: 30px;
  }

  .card {
    margin: 7px;
  }

  .component-anchor {
    text-decoration: none;
    cursor: pointer;
  }

  .component-anchor:hover {
    text-decoration: none;
  }

  .component-name {
    color: black;
    display: inline-block;
  }

  .card-icon-custom {
    max-height: 25px;
    max-width: 25px;
    padding: auto;
    display: inline-block;
  }

  .component-icon {
    max-height: 80px;
    max-width: 80px;
  }

  .erase{
    display: none;
    float: right;
  }

  .list-group-item:hover .erase{
    display: inline-block;
  }

  .distance{
    margin-right: 30px;
  }

  .test {
      color: red;
  }
